debug:
    DEBUG: false
    DEBUG_EMAIL: ''

secrets:
    SECRET_KEY: ''

database:
    DB_ENGINE: ''
    DB_NAME: ''
    DB_USER: ''
    DB_PASSWORD: ''
    DB_HOST: ''
    DB_PORT: ''

email:
    # Automated correspondence from the site manager
    DEFAULT_EMAIL_FROM: ''
    # Error messages to the ADMINS and MANAGERS
    SERVER_EMAIL: ''
    DEFAULT_EMAIL_BCC: ''

    EMAIL_HOST: ''
    EMAIL_PORT: 587
    EMAIL_HOST_USER: ''
    EMAIL_HOST_PASSWORD: ''
    EMAIL_USE_TLS: True
    EMAIL_USE_SSL: False

facebook:
    # Facebook configuration
    SOCIAL_AUTH_FACEBOOK_KEY: ''
    SOCIAL_AUTH_FACEBOOK_SECRET: ''

stripe:
  API_KEY: ''
